<div id="output" class="hidden">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h2 id="outputTicker" class="text-2xl font-extrabold uppercase">TICKER</h2>
      <p id="outputName" class="text-base text-gray-700">Company Name</p>
    </div>
    <div class="flex items-center space-x-2">
      <p class="text-base text-gray-600">IBM NLU says:</p>
      <span id="outputBadge" class="text-white text-xl font-semibold px-6 py-2 rounded-md bg-gray-400">HOLD</span>
    </div>
  </div>
</div>
