<div id="scoreBarContainer" class="mt-10 hidden">
  <div class="relative w-full bg-gray-200 h-6 rounded-md">
    <div class="absolute left-0 top-0 h-full bg-red-500 rounded-l-md" style="width: 30%;"></div>
    <div class="absolute left-[30%] top-0 h-full bg-yellow-400" style="width: 40%;"></div>
    <div class="absolute left-[70%] top-0 h-full bg-green-500 rounded-r-md" style="width: 30%;"></div>

    <div id="marker" class="absolute -top-2 w-1 bg-black h-10 flex flex-col-reverse items-center z-20 rounded-full transition-all duration-[1.5s] ease-out delay-100">
      <div class="text-[8px] text-black font-medium leading-tight text-center mb-11">
        sentiment<br>score
      </div>
    </div>
  </div>

  <div class="flex justify-between text-[10px] text-gray-500 mt-0.5">
    <span>0</span><span>2.5</span><span>5</span><span>7.5</span><span>10</span>
  </div>
</div>
